<launch>
    <!-- <node pkg="fast_image_solve" type="fast_image_node" name="fast_image_solve" output="screen">
        <rosparam command="load" file="$(find fast_image_solve)/config/params.yaml"/>
        <remap from="input_image" to="/camera/rgb/image_raw"/>
    </node> -->
    <!-- <include file="$(find orbbec_camera)/launch/gemini_330_series.launch" /> -->
    <!-- <include file="$(find ScepterROS)/launch/scepter_camera.launch" /> -->

    <!-- <node pkg="fast_image_solve" type="sensors_mid_node" name="image_mid_node" output="screen">
        <rosparam command="load" file="$(find fast_image_solve)/config/params_orbbec.yaml"/>
    </node> -->

    <node pkg="fast_image_solve" type="5.18auto_node" name="fast_image_node" output="screen">
        <rosparam command="load" file="$(find fast_image_solve)/config/params_image.yaml"/>
    </node>

    
    <!-- <node pkg="chassis_ctrl" type="chassis_ctrl_Moduan_Node" name="moduan_node" output="screen"/> -->
    

    <!-- <node pkg="fast_image_solve" type="client_node" name="image_client_node" output="screen"/> -->
    
</launch>