<launch>
    <!-- device_index used in  Ps2_GetDeviceInfo -->
    <arg name="device_index" default="0"/>
    <arg name="camera_name" default="Scepter"/>
    <arg name="camera_respawn" default="false"/>

    <node pkg="tie_robot_perception"
          type="scepter_camera"
          name="scepter_manager"
          output="screen"
          respawn="$(arg camera_respawn)"
          respawn_delay="2.0">
        <env name="LD_LIBRARY_PATH"
             value="$(optenv LD_LIBRARY_PATH):$(find tie_robot_perception)/dependencies/Lib:$(find tie_robot_perception)/dependencies/Lib/Drivers" />
        <param name="device_index" value="$(arg device_index)" type="int"/>
        <param name="camera_name" value="$(arg camera_name)" />
    </node>

    <node pkg="tie_robot_perception"
          type="scepter_world_coord_processor"
          name="scepter_world_coord_processor"
          output="screen"
          respawn="$(arg camera_respawn)"
          respawn_delay="2.0">
        <param name="camera_name" value="$(arg camera_name)" />
    </node>
</launch>
