<launch>
    <arg name="tf_config_path" default="$(find chassis_ctrl)/config/gripper_tf.yaml" />
    <arg name="tf_publish_rate_hz" default="30.0" />

    <node name="gripper_tf_broadcaster"
          pkg="chassis_ctrl"
          type="gripper_tf_broadcaster.py"
          output="log">
        <param name="config_path" value="$(arg tf_config_path)" />
        <param name="publish_rate_hz" value="$(arg tf_publish_rate_hz)" />
    </node>

    <node name="pointAINode"
          pkg="chassis_ctrl"
          type="pointAI.py"
          output="log">
        <env name="ROSCONSOLE_FORMAT" value="[${severity}] ${message}" />
    </node>
</launch>
