<launch>
    <arg name="include_api_stack" default="true" />
    <arg name="start_workspace_picker_web" default="true" />
    <arg name="auto_open_workspace_picker" default="true" />
    <arg name="workspace_picker_port" default="8080" />

    <group if="$(arg include_api_stack)">
        <include file="$(find tie_robot_bringup)/launch/api.launch" />
    </group>

    <node name="suoquNode" pkg="tie_robot_process" type="suoquNode"  output="log"></node>
    <node name="moduanNode" pkg="tie_robot_control" type="moduanNode"  output="log" ></node>
    <node name="gripper_tf_broadcaster"
          pkg="tie_robot_perception"
          type="gripper_tf_broadcaster.py"
          output="log">
        <param name="config_path" value="$(find tie_robot_perception)/config/gripper_tf.yaml" />
        <param name="publish_rate_hz" value="30.0" />
    </node>
    <node name="pointAINode" pkg="tie_robot_perception" type="pointAI.py"  output="log">
        <env name="ROSCONSOLE_FORMAT" value="[${severity}] ${message}" />
    </node> 
    <node name="stable_point_tf_broadcaster"
          pkg="tie_robot_perception"
          type="stable_point_tf_broadcaster.py"
          output="log">
        <param name="stable_frame_count" value="2" />
        <param name="stable_z_tolerance_mm" value="4.0" />
        <param name="publish_rate_hz" value="20.0" />
    </node>

    <node if="$(arg start_workspace_picker_web)"
          name="workspace_picker_web_server"
          pkg="tie_robot_web"
          type="workspace_picker_web_server.py"
          output="log">
        <param name="port" value="$(arg workspace_picker_port)" />
        <param name="browser_host" value="127.0.0.1" />
    </node>

    <node if="$(arg auto_open_workspace_picker)"
          name="workspace_picker_web_open"
          pkg="tie_robot_web"
          type="workspace_picker_web_open.py"
          output="log">
        <param name="port" value="$(arg workspace_picker_port)" />
        <param name="browser_host" value="127.0.0.1" />
        <param name="wait_timeout_sec" value="8.0" />
        <param name="open_delay_sec" value="1.0" />
    </node>
</launch>
