<launch>
    <arg name="include_api_stack" default="true" />
    <arg name="start_workspace_picker_web" default="true" />
    <arg name="auto_open_workspace_picker" default="true" />
    <arg name="workspace_picker_port" default="8080" />

    <group if="$(arg include_api_stack)">
        <include file="$(find tie_robot_bringup)/launch/api.launch" />
    </group>

    <include file="$(find tie_robot_bringup)/launch/driver_stack.launch" />
    <include file="$(find tie_robot_bringup)/launch/algorithm_stack.launch" />

    <node if="$(arg start_workspace_picker_web)"
          name="workspace_picker_web_server"
          pkg="tie_robot_web"
          type="workspace_picker_web_server.py"
          output="log"
          respawn="true"
          respawn_delay="2.0">
        <param name="port" value="$(arg workspace_picker_port)" />
        <param name="browser_host" value="127.0.0.1" />
    </node>

    <node if="$(arg auto_open_workspace_picker)"
          name="workspace_picker_web_open"
          pkg="tie_robot_web"
          type="workspace_picker_web_open.py"
          output="log">
        <param name="port" value="$(arg workspace_picker_port)" />
        <param name="browser_host" value="127.0.0.1" />
        <param name="wait_timeout_sec" value="8.0" />
        <param name="open_delay_sec" value="1.0" />
    </node>
</launch>
